.pagination-block {
  margin: 40px 50px;
  padding-bottom: 40px;

  &__content {
    &-item {
      display: inline-flex;
    }
    &-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      color: #fe5f1e;

      @media (max-width: $breakpoint-tablet-large) {
        width: 20px;
        height: 20px;
        font-size: 10px;
      }
      @media (max-width: $breakpoint-phone-medium) {
        width: 18px;
        height: 18px;
        font-size: 7px;
      }

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }

    @media (max-width: $breakpoint-phone-medium) {
      margin: 20px 25px;
    }
  }
}

.active-pagination {
  border: 2px solid green;
  color: green;
}
