@import '../variables';

.crypto-block {
  width: 1300px;
  border-collapse: collapse;

  &__title {
    width: 400px;
  }

  td {
    padding: 20px 20px 20px 0;
    text-align: left;
    &:first-child {
      text-align: center;
    }
    &:last-child {
      text-align: right;
    }
  }

  thead tr th {
    text-align: left;
    &:first-child {
      text-align: center;
    }
    &:last-child {
      text-align: right;
    }
  }

  &-wrapper {
    margin: auto 50px;
    width: 1400px;
    tbody {
      &:hover {
        background-color: lightgray;
        cursor: pointer;
        transition: all linear 1.5s;
      }
    }
  }

  &__rank {
    text-align: center;
    width: 90px;
  }
}
