@import '../variables';

.crypto-block {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;

  &__descriptions {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 1300px;
    margin: 0 auto;
    color: black;
    font-weight: 700;
    font-size: 20px;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding: 25px 50px;
    &:hover {
      background-color: lightgray;
      cursor: pointer;
      transition: all linear 0.5s;
    }
  }

  &__btn {
    width: 30px;
    height: 30px;
    background-color: rgb(128, 130, 8);
    color: aliceblue;
    cursor: pointer;
    border: 0px;
    margin-left: 20px;
  }
}
