@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  margin: 0 40px 40px 40px;

  &-portfolio {
    cursor: pointer;

    &__info {
      display: flex;
    }

    &__price {
      margin-right: 10px;
    }
    &__diffPercents {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;

      .header__portfolio {
        margin-top: 20px;
      }
    }
  }

  &__info {
  }
}
