.modal-block {
  position: absolute;
  top: 0;
  left: 0;
  background: #252424cc;
  width: 100vw;
  height: 200vh;

  &__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    width: 1200px;
    height: 70vh;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    border: 2px solid grey;
    overflow-y: scroll;

    &-form {
      display: flex;
    }

    @media (max-width: $breakpoint-desktop) {
      width: 900px;
      height: 60vh;
    }

    @media (max-width: $breakpoint-desktop-small) {
      width: 700px;
      height: 40vh;
    }

    @media (max-width: $breakpoint-tablet-medium) {
      width: 600px;
      height: 40vh;
    }

    @media (max-width: $breakpoint-tablet-small) {
      width: 450px;
      height: 40vh;
    }

    @media (max-width: $breakpoint-phone-large) {
      width: 320px;
      height: 40vh;
    }

    &-title {
      height: 70px;
      background: white;
      overflow: hidden;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;

      &__main {
        margin: 0;
        padding: 10px;
        font-weight: 500;
        font-size: 36px;
        text-align: center;

        @media (max-width: $breakpoint-desktop) {
          font-size: 24px;
        }

        @media (max-width: $breakpoint-tablet-small) {
          font-size: 18px;
        }
      }
    }

    &-closeBtn {
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
      position: absolute;
      right: 0;
      top: 0;
      align-self: flex-end;
      margin-top: -7px;
      margin-right: -7px;
    }

    &-items {
      padding: 10px;
      font-size: 14px;
      color: #2c3e50;
      text-align: center;

      &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
      }

      &__input {
        border-radius: 10px;
        border: 1px solid gray;
        width: 300px;
        padding: 10px;
        font-size: 24px;

        @media (max-width: $breakpoint-phone-large) {
          width: 200px;
          font-size: 14px;
        }
      }

      &__button {
        margin-left: 20px;
        width: 70px;
        height: 50px;

        @media (max-width: $breakpoint-phone-large) {
          width: 50px;
          height: 30px;
        }
      }
    }
  }
}
