.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalBackup {
  position: absolute;
  top: 0;
  left: 0;
  background: #252424cc;
  width: 100vw;
  height: 200vh;
}

.modal {
  width: 1200px;
  height: 70vh;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  border: 2px solid grey;
  overflow-y: scroll;

  @media (max-width: 1300px) {
    width: 900px;
    height: 60vh;
  }

  @media (max-width: 995px) {
    width: 700px;
    height: 40vh;
  }

  @media (max-width: 735px) {
    width: 600px;
    height: 40vh;
  }

  @media (max-width: 620px) {
    width: 450px;
    height: 40vh;
  }

  @media (max-width: 480px) {
    width: 320px;
    height: 40vh;
  }
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.headingInput {
  margin: 0;
  padding: 10px;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;

  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    input {
      border-radius: 10px;
      border: 1px solid gray;
      width: 300px;
      padding: 10px;
      font-size: 24px;

      @media (max-width: 480px) {
        width: 200px;
        font-size: 14px;
      }
    }

    button {
      border-radius: 10px;
      margin-left: 20px;
      width: 70px;
      height: 50px;
      background-color: gray;
      color: white;
      cursor: pointer;

      @media (max-width: 480px) {
        width: 50px;
        height: 30px;
      }
    }
  }
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}
