.crypto-block {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;

  &__descriptions {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 25px 50px;
    margin: 0 auto;
    color: black;
    font-weight: 700;
    font-size: 20px;

    @media (max-width: $breakpoint-desktop-large) {
      &-title:nth-child(4) {
        display: none;
      }
      &-title:nth-child(5) {
        display: none;
      }
      grid-template-columns: repeat(7, 1fr);
    }

    @media (max-width: $breakpoint-desktop-medium) {
      &-title:nth-child(6) {
        display: none;
      }
      &-title:nth-child(7) {
        display: none;
      }
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: $breakpoint-tablet-large) {
      &-title:nth-child(8) {
        display: none;
      }
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $breakpoint-phone) {
      &-title:nth-child(3) {
        display: none;
      }
      grid-template-columns: repeat(2);
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding: 25px 50px;
    &:hover {
      background-color: lightgray;
      cursor: pointer;
      transition: all linear 0.5s;
    }

    @media (max-width: $breakpoint-desktop-large) {
      .list:nth-child(4) {
        display: none;
      }
      .list:nth-child(5) {
        display: none;
      }
      grid-template-columns: repeat(6, 1fr);
    }

    @media (max-width: $breakpoint-desktop-medium) {
      .list:nth-child(6) {
        display: none;
      }
      .list:nth-child(7) {
        display: none;
      }
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 110px;
    }

    @media (max-width: $breakpoint-tablet-large) {
      .list:nth-child(8) {
        display: none;
      }
      grid-template-columns: repeat(3, 1fr);
      padding: 10px 0;
      grid-column-gap: 50px;
    }

    @media (max-width: $breakpoint-phone) {
      .list:nth-child(3) {
        display: none;
      }
      grid-template-columns: repeat(2);
      padding: 10px 0;
      grid-column-gap: 0;
    }
  }

  &__btn {
    background-color: rgb(128, 130, 8);
    color: aliceblue;
    cursor: pointer;
    border: 0px;
    margin-left: 20px;

    @media (max-width: $breakpoint-tablet) {
      width: 20px;
      height: 20px;
      padding: 0 !important;
    }
  }

  @media (max-width: $breakpoint-tablet-large) {
    margin: 0 50px;
  }
}
