$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

// breakpoints
$breakpoint-desktop: 1300px;
$breakpoint-desktop-large: 1180px;
$breakpoint-desktop-medium: 1010px;
$breakpoint-desktop-small: 995px;
$breakpoint-tablet: 800px;
$breakpoint-tablet-large: 755px;
$breakpoint-tablet-medium: 735px;
$breakpoint-tablet-small: 620px;
$breakpoint-phone: 510px;
$breakpoint-phone-large: 480px;
$breakpoint-phone-medium: 445px;
